@import '../../../../../styles.scss';
nav {
  @include gradient(#ffffff, #e4e6ec);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  .arrow-btn {
    position: relative;
    border-radius: 100px;
    border: 1px solid #A6A7AB;
    width: 30px;
    height: 30px;
    cursor: pointer;
    i {
      border: solid #A6A7AB;
      border-width: 0 3px 3px 0;
      top: 10px;
      position: absolute;
      &.left {
        right: 8px;
      }
      &.right {
        left: 8px;
      }
    }
  }
  div {
    color: #717F9D;
    font-size: 30px;
    margin: 10px;
  }
}
