.outer {
  width: 1024px;
  margin: 0px auto;
  border: 2px solid #A6A7AB;
  border-radius: 5px;
}

table {
  width: 100%;
  border: none;
  margin: 0px;
  padding: 0px;
  thead {
    background-color: #D1D4D9;
  }
}
