.outer {
  width: 1024px;
  margin: 0px auto;
  border: 2px solid #A6A7AB;
  border-radius: 5px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &>div {
    flex-basis: 12.525%;
  }
}
