@import '../../../../../styles.scss';
.outer {
  width: 1024px;
  margin: 0px auto;
  border: 2px solid #A6A7AB;
  border-radius: 5px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &>div {
    position: relative;
    border: 1px solid map-get($map: $border-colors, $key: day);
    flex-basis: 14.09%;
    padding-top: 30px;
  }
}
