@import '../../../../../styles.scss';
.calendar-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  div {
    @include gradient(#c5c8cc, #d5d7dd);
    flex-basis: 12.525%;
    border: 1px solid #BEC3CF;
    text-align: center;
    text-transform: uppercase;
    color: #8991A2;
    font-weight: bold;
    padding: 8px;
  }
}
